<settings-menu></settings-menu>

<div class="row row-emails">
    <div class="col-sm-10 col-sm-offset-1">
        <form class="input-group" name="formCreateEmail" ng-submit=" vm.create() " >
            <input class="form-control" name="emailAddress" type="text" placeholder="email address" ng-model=" vm.email.emailAddress " />

            <!-- btn add email record -->
            <span class="input-group-btn" >
                <button type="submit" class="btn btn-success btn-input" >
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </button>
            </span>
        </form>

        <form class="input-group" name="formUpdateEmail" ng-repeat=" email in vm.emails " >
            <input class="form-control" name="emailAddress" type="text" placeholder="email address" ng-model=" email.emailAddress " disabled/>

            <!-- btn update/delete email record -->
            <span class="input-group-btn">
                <span class="email-info-primay" ng-show=" email.primary " >primary</span>
                <span class="email-info-notconfirmed" ng-hide=" email.confirmed ">not confirmed</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-input btn-input-caret dropdown-toggle" type="button" aria-expanded="false" data-toggle="dropdown">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-set-right">
                        <li ng-hide=" email.primary ">
                            <a href="" ng-click=" vm.setAsPrimary( email ) " class="btn-emails-set-as-primary">
                                set as primary
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click=" vm.delete( email ) " class="btn-emails-delete">
                                delete
                            </a>
                        </li>
                    </ul>
                </div>
            </span>
        </form>
    </div>
</div><!-- /.row-emails -->