<div class="row timecard-header">
    <div class="col-xs-6 col-sm-6">
        <button type="button" class="btn btn-primary" ng-click=" vm.popPunchOClockUp() "> punch o'clock</button>
        <button class="btn btn-default" type="button" ng-click=" vm.popBaseDateUp() " >
            {{ vm.date | date:'MMM yyyy' }}
            <span class="caret"></span>
        </button>
    </div>
    <div class="col-xs-4 col-xs-offset-2 col-sm-3 col-sm-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading text-center">
                <span>
                    total balance: <strong> {{ vm.timecard.totalTime }} </strong>
                </span>
            </div>
        </div>
    </div>
</div><!-- /div.timecard-header -->

<div class="row timecard-table">
    <div class="col-sm-12">
        <table class="table table-striped table-hover table-pickable">
            <thead>
                <tr>
                    <th>date</th>
                    <th>records</th>
                    <th>expected</th>
                    <th>balance</th>
                    <th>notes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat=" day in vm.timecard.days ">
                    <td> {{ day.date }} </td>
                    <td>
                        <div ng-repeat=" entering in day.tableEntering | clkioOnlyFilter " class="label"
                            ng-class="{ 'label-success' : entering.clockin && entering.clockout, 'label-warning' : !entering.clockin || !entering.clockout }">
                            {{ entering.clockin | clkioHoursFilter }} - {{ entering.clockout | clkioHoursFilter }}
                        </div>
                        <div ng-repeat=" entering in day.tableEntering | reasonOnlyFilter " class="label label-info" >
                            {{ entering.reason.reason }}
                        </div>
                    </td>
                    <td> {{ day.expectedHours }} </td>
                    <td> {{ day.balance }} </td>
                    <td> {{ day.notes }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- /div.timecard-table -->

<div class="row timecard-footer">
    <div class="col-xs-4 col-xs-offset-8 col-sm-3 col-sm-offset-9">
        <div class="panel panel-danger">
            <div class="panel-heading text-center">
                <span>
                    month balance: <strong> {{ vm.timecard.totalTimeMonthly }} </strong>
                </span>
            </div>
        </div>
    </div>
</div>