<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>clkio-cris</title>
        <base href="/">

        <style>
            /* This helps the ng-show/ng-hide animations start at the right place. */
            /* Since Angular has this but needs to load, this gives us the class early. */
            .ng-hide { display: none!important; }
        </style>

        <!-- build:css styles/lib.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="/bower_components/toastr/toastr.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/app.css -->
        <!-- inject:css -->
        <link rel="stylesheet" href="/src/client/styles/styles.css">
        <!-- endinject -->
        <!-- endbuild -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#clkio-cris-navbar" aria-expanded="false" ng-hide=" !principal.clkioLoginCode ">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">clkio-cris</a>
                </div>

                <div class="collapse navbar-collapse" id="clkio-cris-navbar">
                    <ul class="nav navbar-nav">
                        <!--to be defined -->
                    </ul>

                    <ul class="nav navbar-nav navbar-right ng-hide" ng-hide=" !principal.clkioLoginCode ">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                                {{ principal.user }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="themes">
                                <li ng-repeat="profile in principal.profiles">
                                    <a href="" ng-click=" principal.changeProfile( profile ) ">
                                        {{ profile.description }} <i class="fa fa-check" aria-hidden="true" ng-show="profile.id === principal.profile.id" ></i>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="" ui-sref="timecard">timecard</a></li>
                                <li><a href="" ui-sref="email">settings</a></li>
                                <li><a href="" ng-controller="LoginController as vm" ng-click="vm.doLogout()">logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-flud -->
        </nav>

        <section class="container" ui-view >
        </section><!-- /section.container -->

        <footer class="navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="row" >
                    <div class="col-lg-12">
                        <p>
                            Supported by <a href="https://br.linkedin.com/in/jeanvillete" rel="nofollow">Jean Villete</a>,
                            fork me on <a href="https://github.com/jeanvillete/clockinclockout-cris">git hub</a>.
                        </p>
                    </div>
                </div>
            </div>
        </footer><!-- /footer.container -->

        <!-- build:js js/lib.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/moment/moment.js"></script>
        <script src="/bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
        <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/bower_components/toastr/toastr.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js js/app.js -->
        <!-- inject:js -->
        <script src="/src/client/app/app.module.js"></script>
        <script src="/src/client/app/account/account.module.js"></script>
        <script src="/src/client/app/adjusting/adjusting.module.js"></script>
        <script src="/src/client/app/blocks/exception/exception.module.js"></script>
        <script src="/src/client/app/blocks/logger/logger.module.js"></script>
        <script src="/src/client/app/blocks/router/router.module.js"></script>
        <script src="/src/client/app/clockinclockout/clockinclockout.module.js"></script>
        <script src="/src/client/app/core/core.module.js"></script>
        <script src="/src/client/app/email.confirmation/email.confirmation.module.js"></script>
        <script src="/src/client/app/email/email.module.js"></script>
        <script src="/src/client/app/login/login.module.js"></script>
        <script src="/src/client/app/manualentering/manualentering.module.js"></script>
        <script src="/src/client/app/password/password.module.js"></script>
        <script src="/src/client/app/principal.holder/principal.holder.module.js"></script>
        <script src="/src/client/app/profile.details/profile.details.module.js"></script>
        <script src="/src/client/app/profile/profile.module.js"></script>
        <script src="/src/client/app/reason/reason.module.js"></script>
        <script src="/src/client/app/register/register.module.js"></script>
        <script src="/src/client/app/settings/settings.module.js"></script>
        <script src="/src/client/app/timecard.basedate.modal/timecard.basedate.modal.module.js"></script>
        <script src="/src/client/app/timecard.clkio.modal/timecard.clkio.modal.module.js"></script>
        <script src="/src/client/app/timecard.details/timecard.details.module.js"></script>
        <script src="/src/client/app/timecard.punchoclock.modal/timecard.punchoclock.modal.module.js"></script>
        <script src="/src/client/app/timecard/timecard.module.js"></script>
        <script src="/src/client/app/user/user.module.js"></script>
        <script src="/src/client/app/account/account.controller.js"></script>
        <script src="/src/client/app/account/account.route.js"></script>
        <script src="/src/client/app/adjusting/adjusting.factory.js"></script>
        <script src="/src/client/app/blocks/exception/exception-handler.provider.js"></script>
        <script src="/src/client/app/blocks/exception/exception.js"></script>
        <script src="/src/client/app/blocks/logger/logger.js"></script>
        <script src="/src/client/app/blocks/router/router-helper.provider.js"></script>
        <script src="/src/client/app/clockinclockout/clockinclockout.factory.js"></script>
        <script src="/src/client/app/core/config.js"></script>
        <script src="/src/client/app/core/constants.js"></script>
        <script src="/src/client/app/core/core.httpauth.interceptor.js"></script>
        <script src="/src/client/app/core/core.logincode.interceptor.js"></script>
        <script src="/src/client/app/core/core.route.js"></script>
        <script src="/src/client/app/email.confirmation/email.confirmation.controller.js"></script>
        <script src="/src/client/app/email.confirmation/email.confirmation.route.js"></script>
        <script src="/src/client/app/email/email.controller.js"></script>
        <script src="/src/client/app/email/email.factory.js"></script>
        <script src="/src/client/app/email/email.route.js"></script>
        <script src="/src/client/app/login/login.controller.js"></script>
        <script src="/src/client/app/login/login.factory.js"></script>
        <script src="/src/client/app/login/login.route.js"></script>
        <script src="/src/client/app/manualentering/manualentering.factory.js"></script>
        <script src="/src/client/app/password/password.controller.js"></script>
        <script src="/src/client/app/password/password.route.js"></script>
        <script src="/src/client/app/principal.holder/principal.holder.factory.js"></script>
        <script src="/src/client/app/profile.details/profile.details.controller.js"></script>
        <script src="/src/client/app/profile.details/profile.details.route.js"></script>
        <script src="/src/client/app/profile/profile.controller.js"></script>
        <script src="/src/client/app/profile/profile.factory.js"></script>
        <script src="/src/client/app/profile/profile.route.js"></script>
        <script src="/src/client/app/reason/reason.factory.js"></script>
        <script src="/src/client/app/register/register.controller.js"></script>
        <script src="/src/client/app/register/register.route.js"></script>
        <script src="/src/client/app/settings/settings.menu.controller.js"></script>
        <script src="/src/client/app/settings/settings.menu.directive.js"></script>
        <script src="/src/client/app/timecard.basedate.modal/timecard.basedate.modal.controller.js"></script>
        <script src="/src/client/app/timecard.clkio.modal/timecard.clkio.modal.controller.js"></script>
        <script src="/src/client/app/timecard.details/timecard.details.controller.js"></script>
        <script src="/src/client/app/timecard.details/timecard.details.route.js"></script>
        <script src="/src/client/app/timecard.punchoclock.modal/timecard.punchoclock.modal.controller.js"></script>
        <script src="/src/client/app/timecard/timecard.clkioHoursFilter.filter.js"></script>
        <script src="/src/client/app/timecard/timecard.clkioOnly.filter.js"></script>
        <script src="/src/client/app/timecard/timecard.controller.js"></script>
        <script src="/src/client/app/timecard/timecard.factory.js"></script>
        <script src="/src/client/app/timecard/timecard.reasonOnly.filter.js"></script>
        <script src="/src/client/app/timecard/timecard.route.js"></script>
        <script src="/src/client/app/user/user.factory.js"></script>
        <!-- endinject -->

        <!-- inject:templates:js -->
        <!-- endinject -->
        <!-- endbuild -->
    </body>
</html>